<div class="volunteer-card">
    <div class="info">
        <div class="profile">
            <div class="avatar-container">
                <div class="avatar">
                    12
                </div>
            </div>
            <div class="profile-info">
                <div class="id">Id</div>
                <div class="sign-up-at">Inscrit le:</div>
            </div>
        </div>
        <div class="global-info">
            <div class="name">Prénom Nom volantaire</div>
            <div class="company">Nom de l'entreprise</div>
            <div class="mission"><span>logo</span> Nom de la mission</div>
            <div class="location"><span>logo</span> Localisation de la mission button ?</div>
            <div class="coordinator">Prénom nom coordinateur - Nom du poste</div>
        </div>
    </div>
    <div class="subscription-text">
        <div class="status">
            Composant statut
        </div>
        <div class="description">
            Avant que vous puissiez accepter cette demande, le collaborateur doit renseigner ses dates. Ecrivez-lui pour
            l'encourager à le faire !
        </div>
    </div>
</div>