@import "../../../../../assets/colors.scss";

.volunteer-card {
    @media screen and (min-width: 978px) {
        flex-direction: row;
    }

    padding: 2rem 1rem;
    border-radius: 0.8rem;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.08),
    0px 8px 16px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;

    line-height: 130%;
    
    .info {
        @media screen and(min-width: 978px) {
            width: 49%;
            column-gap: 0.5rem;
        }

        display: flex;
        column-gap: 3rem;

        .profile {
            position: relative;
            text-align: center;

            .avatar-container {
                @media screen and(min-width: 400px) {
                    min-height: 100px;
                    min-width: 100px;
                }

                position: relative;
                margin: 2px;
                min-height: 70px;
                min-width: 70px;

                .avatar {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: $light-blue;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 4rem;
                    color: $white;
                    font-weight: 600;
                }
            }

            .profile-info {
                margin-top: 0.3rem;

                .id {}

                .sign-up-at {
                    color: $light-grey;
                    font-size: 1.12rem;
                }
            }
        }

        .global-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .name {
                color: black;
                font-weight: bold;
            }

            .company {
                color: $light-grey;
            }

            .mission {
                color: $light-blue;
            }

            .coordinator {
                .underline {

                    text-decoration: underline;
                }
            }
        }
    }

    .subscription-text {
        @media screen and(min-width: 978px) {
            width: 49%;
        }

        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        .description {
            @media screen and(min-width: 978px) {
                width: 75%;
            }
        }
    }
}