@import "./../../../assets/colors.scss";

main {
    @media screen and (min-width: 978px) {
        width: 80%;
    }

    width: 95%;
    max-width: 959px;
    font-family: 'Manjari',
    sans-serif;
    padding: 50px 0;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
}