<ul class="list-container">
    <div class="stat-container">
        <div class=""><h3>En ce moment</h3></div>
        <div class="volunteers-number-container">
            <span><span class="volunteers-number">{{ countTotalStatsCount() }}</span> inscriptions</span>
        </div>
        <progress></progress>
        <div class="volunteers-status-list">
            <span class="title">Suivez les inscriptions en fonction de leur statut:</span>
            <ul>
                <li class="volunteer-status" *ngFor="let stat of stats">
                    <button (click)="toggleStatus(stat.status)" > 
                        <app-status [status]="stat.status" [count]="stat.count" [styleClass]="{'active': isStatusSelected(stat.status)}"></app-status>
                    </button>
                </li>
            </ul>
        </div>
        <div class="volunteer-search-result">{{ displayedWishes.length }} inscriptions correspondent à votre recherche</div>
    </div>
    <li class="volunteer-card" *ngFor="let wish of displayedWishes">
        <volunteer-card [wish]="wish"></volunteer-card>
    </li>
</ul>