$light-yellow : rgba(255, 192, 0, 0.502);
$dark-yellow: rgb(255, 192, 0);

$ligth-green: #92D050;
$dark-green: #00B050;

$light-red: #eb7e7d;
$dark-red: rgb(255, 0, 0);

$light-grey: #D8D8D8;
$middle-grey: #8C8C8C;
$dark-grey: #404040;
$white: #FFF;
$black: #000;
