@import './assets/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: linear-gradient($dark-yellow, $light-yellow);
}


ul, li, ol {
  list-style: none;
}