@import './assets/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    min-height: 100vh;

  font-size: 62.5%;
}

body {
    background: linear-gradient($dark-yellow, $light-yellow, $dark-yellow);
}


ul, li, ol {
  list-style: none;
}